@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

.scroller {
    position: fixed;
    top: 0;
    left: 0;

    width: 0;
    height: 5px;
    background-color: var(--mainColorAlt);
    z-index: 999000;
}
